#  튜플


- 튜플(Tuple)은 리스트와 유사하게 데이터 여러 개를 하나로 묶는 데 이용
- 튜플의 항목은 숫자, 문자열, 불，리스트, 튜플, 세트, 딕셔너리 등으로 만들 수 있음
- 튜플의 속성은 리스트와 유사
- 튜플 데이터는 한 번 입력(흑은 생성)하면 그 이후에는 항목을 변경할 수가 없음

In [1]:
tuple1=(1,2,3,4)
tuple1

(1, 2, 3, 4)

In [2]:
type(tuple1)

tuple

In [3]:
tuple1[1]

2

In [4]:
tuple2=5,6,7,8
print(tuple2)

(5, 6, 7, 8)

In [5]:
type(tuple2)

tuple

In [6]:
tuple3=(9,)
tuple4=10,
print(tuple3)
print(tuple4)

(9,)
(10,)

# 4.5 세트

- 세트는 수학의 집합 개념을 파이썬에서 이용할 수 있도록 만든 데이터 타입
- 세트가 리스트와 튜플과 다른 점은 데이터의 순서가 없고 데이터를 중복해서 쓸 수 없다는 것
- 세트는 리스트에서 사용했던 메서드 외에 집합의 기본이 되는 교집합，합집합, 차집합을 구하는 메서드를 사용할 수 있음

In [8]:
set1={1,2,3}
set1a={1,2,3,3}
print(set1)
print(set1a)

{1, 2, 3}
{1, 2, 3}

In [9]:
type(set1)

set

# 세트의 교집합, 합집합, 차집합 구하기
## 세트에서 사용할 수 있는 교집합, 합집합, 차집합 메서드를 이용

- 교집합(intersection): 두 집합 A와 B가 았을 때 집합 A에도 속하고 집합 B에도 속하는 원소로 이뤄진 집합.
- 합집합(union): 두 집합 A와 때 있을 때 집합 A에 속하거나 집합 답에 속하는 원소로 이뤄진 집합.
- 차집합(difference): 두 집합 A와 B가 있을 때 집합 A에는 속하고 집합 B에는 속하지 않는 원소로 이뤄진 집합

In [12]:
A={1,2,3,4,5}
B={4,5,6,7,8,9,10}
A.intersection(B)

{4, 5}

In [13]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [14]:
A.difference(B)

{1, 2, 3}

In [15]:
A={1,2,3,4,5}
B={4,5,6,7,8,9,10}

A&B

{4, 5}

In [16]:
A|B

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [17]:
A-B

{1, 2, 3}

# 리스트, 튜플, 세트 간 타입 변환
## 여러 데이터를 다루다 보면 연산이나 처리를 할 때 데이터의 타입을 변환해야 할 필요 데이터 타입은 list(), tuple(), set()을 이용해 서로 변환

In [18]:
a=[1,2,3,4,5]
type(a)

list

In [19]:
b=tuple(a)
b

(1, 2, 3, 4, 5)

In [20]:
type(b)

tuple

In [21]:
c=set(a)
c

{1, 2, 3, 4, 5}

In [22]:
type(c)

set

In [23]:
list(b)

[1, 2, 3, 4, 5]

In [24]:
list(c)

[1, 2, 3, 4, 5]

# 4.6 딕셔너리

- 파이썬의 딕셔너리도 사전과 유사하게 구성
- 사전의 표제어와 설명은 파이썬에서 각각 키(key)와 값(value)
- 딕셔너리는 키와 값이 항상 쌍으로 구성
- 리스트나 튜플은 인덱스를 이용해 항목을 다뤘지만 딕셔너리는 인덱스 대신 키를 이용해 값을 다룸
- 리스트나 튜플에서 인덱스는 0부터 시작하는 숫자였지만 딕셔너리의 키는 임의로 지정한 숫자나 문자열이 될 수 있음
- 값으로는 어떤 데이터 타입도 사용할 수 있음

# 딕셔너리 만들기
- 딕셔너리를 만들려면 딕셔너리 데이터 전체를 중괄호({})로 감싸면됨
- 키와 값의 구분은 콜론(:)으로 함
- 키와 값으로 이뤄진 각 쌍은 콤마(,)로 구분

In [25]:
country_capital={"영국":"런던","프랑스":"파리","스위스":"베른","호주":"캔버라","덴마크":"코펜하겐"}
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '덴마크': '코펜하겐'}

In [26]:
type(country_capital)

dict

In [27]:
country_capital["영국"]

'런던'

In [28]:
dict_data1={1:"버스",3:"비행기",4:"택시",5:"자전거"}
dict_data1

{1: '버스', 3: '비행기', 4: '택시', 5: '자전거'}

In [30]:
dict_data1[3]

'비행기'

In [31]:
dict_data2={1:10,2:20,3:30,4:40,5:50}
print(dict_data2)
print(dict_data2[4])

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}
40

In [32]:
dict_data3={"list_data1":[11,12,13],"list_data2":[21,22,23]}
print(dict_data3)
dict_data3["list_data2"]

{'list_data1': [11, 12, 13], 'list_data2': [21, 22, 23]}

[21, 22, 23]

In [35]:
mixed_dict={1:10,'dict_num':{1:10,2:20},"dict_list_tuple":{"A":[11,12,13],"B":(21,22,23)}}
mixed_dict

{1: 10,
 'dict_num': {1: 10, 2: 20},
 'dict_list_tuple': {'A': [11, 12, 13], 'B': (21, 22, 23)}}

# 딕셔너리 다루기
## 딕셔너리에 데이터 추가하고 변경하기
생성된 딕셔너리에 새로운 키와 값을 추가하거나 기존의 값을수정하려면 ’dict_variable[key] = value' 형태로 입력

In [36]:
country_capital["독일"]="베를린"
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '덴마크': '코펜하겐', '독일': '베를린'}

In [37]:
country_capital["호주"]="캔버라"
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '덴마크': '코펜하겐', '독일': '베를린'}

In [38]:
del country_capital["덴마크"]
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '독일': '베를린'}

In [39]:
fruit_code={"사과":101,"배":102,"딸기":103,"포도":104,"바나나":105}

In [40]:
print(fruit_code.keys())

dict_keys(['사과', '배', '딸기', '포도', '바나나'])

In [41]:
print(fruit_code.values())

dict_values([101, 102, 103, 104, 105])

In [42]:
print(fruit_code.items())

dict_items([('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)])

In [44]:
list(fruit_code.keys())

['사과', '배', '딸기', '포도', '바나나']

In [45]:
list(fruit_code.values())

[101, 102, 103, 104, 105]

In [46]:
list(fruit_code.items())

[('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)]

In [48]:
fruit_code2={"오렌지":106,"수박":107}

In [49]:
fruit_code.update(fruit_code2)
fruit_code

{'사과': 101, '배': 102, '딸기': 103, '포도': 104, '바나나': 105, '오렌지': 106, '수박': 107}

In [50]:
fruit_code2.clear()
print(fruit_code2)
type(fruit_code2)

{}

dict