# 4장 변수와 자료형

## 변수
- 자료를 넣을수 있는 상자인 변수와 파이썬에서 지원하는 자료형
  (데이터 타입)

In [1]:
12340*1/2

6170.0

In [2]:
12340*1/4

3085.0

In [3]:
12340*1/5

2468.0

- 매번 연산할 때마다 12340을 반복적으로 썼음
- 간단한 연산에서도 숫자를 반복해 서 입력해야 할 경우 매번 같은 숫자를 입력하는 것
- 숫자 12340 을 어떤 상자에 넣고 이름을 붙인 후 이 이름을 부를 때마다 상자에 넣은 숫자가 나온다면 편리

In [4]:
abc =12340
print(abc)

12340

- 변수에 자료를 할당한 경우 print(변수명)으로 변수명에 할당한 값을 출력할 수 있음
- print(변수명)을 이용하지 않더라도 변수명을 실행해 변수에 할당된 값을 출력할 수도 있음

In [5]:
abc

12340

print(abc*1/2)
print(abc*1/4)
print(abc * 1/5)

# 규칙을 지키면서 변수명 작성
- 변수명을 문자, 숫자, 밑줄 기호(_)를 이용해 만듬
- 숫자로 시작하는 변수명을 만들수 없음
-ㅜ대소문자를 구분
- 공백을 포함할 수 없음
- 밑줄 이외의 기호는 변수로 시용할 수 없음
- 예약어(Reserved word)는 변수명으로 이용할 수 없음

# 상수
프로그래밍 언어에서 어떤 숫자를 변수에 할당한 후에 프로그램이 끝날 때까지 그 변수의 값을 변경하지
않고 사용하는 경우
한 번 지정한 후 그 값이 변하지 않는 변수를 상수(constant variable)라고 함

# 문자열
## 문자열 만들기

- 문자열은 문자의 나열을 의미하는데, 파이씬에서는 따옴표로 둘러싸인 문자의 집합
- 문자열을 표시하기 위해 문자열 시작과 끝에 큰따옴표(")나 작은따옴표(')를 지정
- 둘 중 어떤 것을 사용해도 되지만 양쪽에는 같은 기호를 이용

In [8]:
print("String Test")

String Test

In [9]:
print('String Test')

String Test

In [10]:
string1="String Test 1"
string2='String Test 2'

print(string1)
print(string2)

String Test 1
String Test 2

## 문자열 타입

In [11]:
type(string1)

str

In [12]:
type(string2)

str

- 출력 결과는 str
- 변수 string과 string2에 할당한 데이터의 타입이 문자열(string)인 것을 의미

In [14]:
string3='This is a "double" quotation test'
string4="This is a 'single' quotation test"
print(string3)
print(string4)

This is a "double" quotation test
This is a 'single' quotation test

In [ ]:
- 문자열에 큰따옴표를 포함하려면 문자열을 작은따옴표로 감싸고 작은따옴표를 포함하려면 큰따옴표로
감싸면 됨

In [ ]:
- 문자열에 큰따옴표와 작은따음표를 모두 포함하고 싶거나 문장을 여러 행 넣고 싶거나 입력한 그 대로 출
력하고 싶을 때는?

In [15]:
long_string1='''[심중 작은 따움표를 사용한 예]
파이썬에서 삼중 따움표로 여러 행의 문자열을 입력할 수 있습니다.
큰 따움표(")와 작은따움표(')도 입력 할 수 있습니다.'''

long_string2="""[삼중 큰 따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수있습니다.
큰따움표(")와 작은 따옴표(')도 입력할 수 있습니다."""

print(long_string1)
print(long_string2)

[심중 작은 따움표를 사용한 예]
파이썬에서 삼중 따움표로 여러 행의 문자열을 입력할 수 있습니다.
큰 따움표(")와 작은따움표(')도 입력 할 수 있습니다.
[삼중 큰 따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수있습니다.
큰따움표(")와 작은 따옴표(')도 입력할 수 있습니다.

- 문자열 전체를 삼중 큰따옴표 (""") 나 삼중 작은따옴표 (""")로 감싸면 됨
- 파이씬 3.x에서는 한글도 문자열에 이용할 수 있음
- 파이썬 3.x이 유니코드(Unicode)를 지원해 기본적으로 문자열이 유니코드로 처리되기 때문

# 문자열 다루기
## 문자열에는 더하기 연산자(+) 와 곱하기 연산자(*)를 이용할 수있음
- 더하기 연산자(+)는 문자열끼리 연결해 문자열을 하나로 만듬
- 곱하기 연산자(*)는 곱한 만큼 문자열을 반복함

In [16]:
a='Enjoy '
b='python!'
c=a+b
print(c)

Enjoy python!

In [17]:
print(a*3)

Enjoy Enjoy Enjoy

In [39]:
print(a)
print(b)

Enjoy
python!

In [40]:
print(a,end=' ')
print(b)

Enjoy  python!

# 4.3 리스트

- 숫자, 문자열, 불 데이터 타입 (이런 데이터 타입은 데이터를 하나씩만 처리할 수 있음)
- 데이터를 묶어 놓으면 처리하기가 필요할때가 있음
- 예를 들면, 학교에서 학생의 과목별(국어，영어, 수학, 과학 등) 시험 점수를 처리한다거나 학급별로 학생의 이름 을 지정할 때 데이터를 묶어서 관리하면 편리함
- 이렇게 할 수 있는 것이 바로 리스트(List)

# 리스트만들기
- 리스트는 대괄호([ ])를 이용해 만듬
- 대괄호 안에 올 수 있는 항목{혹은 요소)의 데이터 타입은 다양함
- 숫자, 문자열, 불, 리스트 등을 넣을 수 있음, 또한 튜플, 세트, 딕셔너리 도 넣을 수 있음
- 리스트를 만들 때 각 항목의 데이터 타입은 같지 않아도 됨
- 데이터는 입력한 순서대로 지정되며 항목은 콤마(,)로 구분
- 대괄호 안에 아무것도 쓰지 않으면 빈 리스트가 만들어짐
- 빈 리스트에는 데이터는 없지만 데이터 형태는 리스트임

In [19]:
# 1번 학생의 국어,영어.수학 과학점수가 각각 90,95,85,80
student1=[90,95,85,80]
student1

[90, 95, 85, 80]

In [20]:
type(student1)

list

- 리스트에서 각 항목은，변수명[i]로 지정 할 수 있음
- 여기서 i를 리스트 변수의 인덱스(index)라고 함
- 만약 N개의 항목이 있는 리스트 타입의 데이터가 있다면 인덱스 i의 범위는 0부터 'N - 1'까지 임
- 첫 번째 요소는 '변수명[0]',두 번째 요소는 '변수명[1],세 번째 요소는 변수명[2],
- 인덱스의 숫자가 증가하다가 마지막 요소는 '변수명[N-1]'이 됨
- 마지막 항목은 '변수명 [-1]'로도 지정할 수도 있

In [21]:
student1[0]

90

In [22]:
student1[1]

95

In [24]:
student1[-1]

80

In [41]:
type(student1)

list

# 리스트의 특정 항목을 변경하려면 '변수명[i] = new_data'를 이용해 리스트 변수에서 인덱스 i 항목을 new_data로 변경할 수 있음

In [ ]:
- 리스트 변수 student1 에서 두 번째 항목을 새로운 데이터로 할당하고 리스트 변수를 출력

In [25]:
student1[1]=100 # 두번째 항목에 새로운 데이터 할당
student1

[90, 100, 85, 80]

In [26]:
myFriends=['James','Robert','Lisa','Mary']
myFriends

['James', 'Robert', 'Lisa', 'Mary']

In [27]:
myFriends[2]

'Lisa'

In [28]:
myFriends[3]

'Mary'

In [29]:
myFriends[-1]

'Mary'

In [31]:
mixedList=[0,2,3.14,'python','program',True,myFriends]
mixedList

[0, 2, 3.14, 'python', 'program', True, ['James', 'Robert', 'Lisa', 'Mary']]

In [34]:
list_con1=[1,2,3,4]
list_con2=[5,6,7,8]
list_con =list_con1 + list_con2 # 리스트 연결
print(list_con)

[1, 2, 3, 4, 5, 6, 7, 8]

In [35]:
list_con1=[1,2,3,4]
list_con=list_con1 *3 #리스트 반복
print(list_con)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [38]:
list_data=[0,1,2,3,4,5,6,7,8,9]
print(list_data)
print(list_data[0:3])
print(list_data[4:8])
print(list_data[:3])
print(list_data[7:])
print(list_data[::2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2]
[4, 5, 6, 7]
[0, 1, 2]
[7, 8, 9]
[0, 2, 4, 6, 8]

In [42]:
print(list_data)
del list_data[6]
print(list_data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 7, 8, 9]

In [43]:
list_data1=[1,2,3,4,5]
print(5 in list_data1)
print(6 in list_data1)

True
False

In [44]:
myFriends=['James','Robert','Lisa','Mary']
print(myFriends)
myFriends.append('Thomas')
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa', 'Mary', 'Thomas']

In [45]:
myFriends=['James','Robert','Lisa','Mary']
print(myFriends)
myFriends.insert(1,'Paul')
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Paul', 'Robert', 'Lisa', 'Mary']

In [47]:
myFriends=['James','Robert','Lisa','Mary']
print(myFriends)
myFriends.extend(['Laura','Betty'])
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa', 'Mary', 'Laura', 'Betty']

In [49]:
tuple1=(1,2,3,4)
tuple1

(1, 2, 3, 4)

In [50]:
type(tuple1)

tuple

In [51]:
tuple1[1]

2

In [52]:
tuple2=5,6,7,8
print(tuple2)

(5, 6, 7, 8)

In [53]:
type(tuple2)

tuple

In [54]:
tuple3=(9,)
tuple4=10,
print(tuple3)
print(tuple4)

(9,)
(10,)

In [55]:
tuple5=(1,2,3,4)
tuple5[1]=5 # 한번 생성된 튜플의 요소는 변경되지 않음

TypeError: 'tuple' object does not support item assignment

In [56]:
del tuple5[1] # 한번 생성된 튜플 요소는 삭제되지 않음

TypeError: 'tuple' object doesn't support item deletion

In [57]:
tuple6=('a','b','c','d','e','f')
tuple6.index('c')

2

In [58]:
tuple7=('a','a','a','b','b','b','c','d')
tuple7.count('a')

3

In [59]:
set1={1,2,3}
set1a={1,2,3,3}
print(set1)
print(set1a)

{1, 2, 3}
{1, 2, 3}

In [60]:
type(set1)

set

In [61]:
A={1,2,3,4,5} # Set A
B={4,5,6,7,8,9,10} #Set B

## tuple 타입

In [62]:
a=(1,2,3,4)
type(a)

tuple

In [63]:
b=(1,[1,2,3,4],4)
b

(1, [1, 2, 3, 4], 4)

## 리스트가 인덱스1이다. 리스트에서 다시 인덱스2이기에 값이 3이다

In [64]:
b[1][2]

3

In [65]:
b[1][2]=1

## 리스트 변경 가능

In [66]:
b

(1, [1, 2, 1, 4], 4)