# 반복문을 이용해 파일 읽고 쓰기

## 파일에 문자열 한 줄씩 쓰기

In [4]:
f=open('two_times_table.txt','w')
for num in range(1,6):
    format_string="2 x {0} ={1}\n".format(num,2*num)
    f.write(format_string)
f.close()

In [7]:
f=open("two_times_table.txt")
line1=f.readline()
line2=f.readline()
f.close()
print(line1,end="")
print(line2,end="")

2 x 1 =2
2 x 2 =4

In [10]:
f=open("two_times_table.txt")
line=f.readline()
while line:
    print(line,end="")
    line=f.readline()
f.close()

2 x 1 =2
2 x 2 =4
2 x 3 =6
2 x 4 =8
2 x 5 =10

In [9]:
f=open("two_times_table.txt")
lines=f.readlines()
f.close()

print(lines)

['2 x 1 =2\n', '2 x 2 =4\n', '2 x 3 =6\n', '2 x 4 =8\n', '2 x 5 =10\n']

In [11]:
f=open("two_times_table.txt")
for line in f.readline():
    print(line,end="")
f.close()

2 x 1 =2

In [12]:
f=open("two_times_table.txt")
for line in f:
    print(line,end="")
f.close()

2 x 1 =2
2 x 2 =4
2 x 3 =6
2 x 4 =8
2 x 5 =10

In [13]:
f=open('myTextFile.txt','w')
f.write('File write/read test.')
f.close()

In [14]:
f=open('myTextFile.txt','r')
test=f.read()
f.close()
print(test)

File write/read test.

In [17]:
with open('myTextFile2.txt','w') as f:
    f.write('File read/write test2: line1\n')
    f.write('File read/write test2: line2\n')
    f.write('File read/write test2: line3\n')

In [18]:
with open('myTextFile2.txt') as f:
    file_string=f.read()
    print(file_string)

File read/write test2: line1
File read/write test2: line2
File read/write test2: line3

In [19]:
with open('myTextFile3.txt','w') as f:
    for num in range(1,6):
        format_string="3 x {0} ={1}\n".format(num,3*num)
        f.write(format_string)

In [20]:
with open('myTextFile3.txt.','r') as f:
    for line in f:
        print(line,end="")

3 x 1 =3
3 x 2 =6
3 x 3 =9
3 x 4 =12
3 x 5 =15

In [21]:
def my_func():
    print("My first function!")
    print("This is a function.")

In [22]:
my_func()

My first function!
This is a function.

In [23]:
def my_friend(friendName):
    print("{}는 나의 친구입니다.".format(friendName))

In [24]:
my_friend("철수")
my_friend("영미")

철수는 나의 친구입니다.
영미는 나의 친구입니다.

In [25]:
def my_student_info(name,school_ID,phoneNumber):
    print("-----------------------")
    print("- 학생이름:",name)
    print("- 학급번호:",school_ID)
    print("- 전화번호:",phoneNumber)

In [26]:
my_student_info("현아","01","01-235-6789")
my_student_info("진수","02","01-987-6543")

-----------------------
- 학생이름: 현아
- 학급번호: 01
- 전화번호: 01-235-6789
-----------------------
- 학생이름: 진수
- 학급번호: 02
- 전화번호: 01-987-6543

In [27]:
def my_student_info(name,school_ID,phoneNumber):
    print("***************************")
    print("* 학생이름:",name)
    print("* 학급번호:",school_ID)
    print("* 전화번호:",phoneNumber)

In [28]:
my_student_info("현아","01","01-235-6789")
my_student_info("진수","02","01-987-6543")

***************************
* 학생이름: 현아
* 학급번호: 01
* 전화번호: 01-235-6789
***************************
* 학생이름: 진수
* 학급번호: 02
* 전화번호: 01-987-6543

In [29]:
def my_calc(x,y):
    z=x*y
    return z

my_calc(3,4)

12

In [30]:
def my_student_info_list(student_info):
    print("***********************")
    print("* 학생이름:",student_info[0])
    print("* 학급번호:",student_info[1])
    print("*전화번호:",student_info[2])
    print("************************")

In [31]:
student1_info=["현아","01","01-235-6789"]
my_student_info_list(student1_info)

***********************
* 학생이름: 현아
* 학급번호: 01
*전화번호: 01-235-6789
************************

In [32]:
my_student_info_list(["진수","02","01-987-6543"])

***********************
* 학생이름: 진수
* 학급번호: 02
*전화번호: 01-987-6543
************************

In [33]:
a=5 #전역변수
def func1():
    a=1 #지역변수,func1()에서만 사용
    print("[func1] 지역변수 a=",a)
def func2():
    a=2 # 지역 변수,func2()에서만 사용
    print("[func2] 지역변수 a=",a)
def func3():
    print("[func3] 전역변수 a=",a)

def func4():
    global a
    a=4
    print("[func4] 전역변수 a=",a)

In [34]:
func1() #함수 func1() 호출
func2() #함수 func2() 호출
print("전역 변수 a=",a) #전역변수 출력

[func1] 지역변수 a= 1
[func2] 지역변수 a= 2
전역 변수 a= 5

In [35]:
func3() #함수 func3()호출
func4() #함수 func4()호출
func3() #함수 func3() 호출

[func3] 전역변수 a= 5
[func4] 전역변수 a= 4
[func3] 전역변수 a= 4